
/* Main Section */
main {
    padding: 20px;
}

.order-confirmation {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.order-confirmation h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.order-confirmation p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.order-details {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-details thead {
    background-color: #e59e11;
    color: #fff;
}

.order-details th, .order-details td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.order-details th {
    background-color: #f5a623;
}

.order-details td {
    color: #000;
}

.total-cost {
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .order-confirmation {
        padding: 10px;
    }

    .order-details th, .order-details td {
        padding: 10px;
    }
}